{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="container">
                <div class="comment-form-group">
                    <div class="row">
                        <div class="comment-answer">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                                
                                {{ form_start(formAnswer) }}
                                <div class="form-group">
                                    <label>{{ 'Відповідь на коментар'|trans }}</label>
                                    {{ form_widget(formAnswer.comment, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>{{ "Ваше ім'я"|trans }}</label>
                                    {{ form_widget(formAnswer.name, {'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    <label>{{ 'Ваш email'|trans }}</label>
                                    {{ form_widget(formAnswer.email, {'attr':{'class':'form-control'}}) }}
                                </div>
                                {% if is_granted('ROLE_ADMIN') == false %}
                                <div class="form-group">
                                    <label>{{ 'Введіть код з картинки'|trans }}</label>
                                    <div class="captcha">
                                        {{ form_widget(formAnswer.captcha, {'attr':{'class':'form-control'}}) }}
                                        <span class="text-danger"><b>{{ form_errors(formAnswer.captcha) }}</b></span>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <p class="text-right">
                                        <button class='send-comment'>{{ 'Надіслати'|trans }}</button>
                                    </p>
                                </div>
                                {{ form_end(formAnswer) }} 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}