{% extends '::base.html.twig' %}

{% block body %}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="flex-container">
                <div class="list-blogs-wrapper">
                    <div class="list-blogs-wrapper-header">ОСТАННЄ В БЛОГАХ</div>
                    <div class="blogpost-category">
                    </div>
                    <div class="blogposts-top">
                        {% for bn in posts | slice(0, 2) %}
                        <div class="blogpost">
                            {% if  bn.translatable.users.profile is defined and bn.translatable.users.profile.path != null %}
                                <div class="blogpost-author-avatar" style="background-image: url('/data/users/{{ bn.translatable.users.id }}/{{ bn.translatable.users.profile.path }}')"></div>
                            {% else %}
                                <div class="blogpost-author-avatar" style="background-image: url('http://tibethouse.org.br/wp-content/uploads/2015/09/600x400textIMAGE-PLACEHOLDER-150x150.png')"></div>
                            {% endif %}
                            <div class="blogpost-info">
                                <div class="blogpost-author">
                                    <a href="#">{{ bn.author }}</a>
                                </div>
                                <div class="blogpost-title">
                                    <a href="{{ path('blog_view_one', {'slug':bn.slug}) }}">{{ bn.title }}</a>
                                </div>
                                <div class="blogpost-date">
                                    {{ bn.creation|date('d.m.Y') }}
                                </div>
                                <div class="blogpost-description">
                                    <p>
                                        {% if bn.brief != '' %}
                                            {{ bn.brief|striptags|raw }}
                                        {% else %}
                                            {{ bn.description|striptags|slice(0, 255)|raw }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="blogpost-controll">
                                    <i class="fa fa-eye" aria-hidden="true"></i><span class="blogpost-view-count">{{ bn.translatable.views|length }}</span>
                                    <i class="fa fa-comment" aria-hidden="true"></i><span class="blogpost-comment-count">{{ bn.comments|length }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="blogposts">
                        <div class="row">
                            {% for bn in posts | slice(2) %}
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="blogpost">
                                        {% if  bn.translatable.users.profile is defined and bn.translatable.users.profile.path != null %}
                                            <div class="blogpost-author-avatar" style="background-image: url('/data/users/{{ bn.translatable.users.id }}/{{ bn.translatable.users.profile.path }}')"></div>
                                        {% else %}
                                            <div class="blogpost-author-avatar" style="background-image: url('http://tibethouse.org.br/wp-content/uploads/2015/09/600x400textIMAGE-PLACEHOLDER-150x150.png')"></div>
                                        {% endif %}
                                        <div class="blogpost-info">
                                            <div class="blogpost-author">
                                                <a href="#">{{ bn.author }}</a>
                                            </div>
                                            <div class="blogpost-title">
                                                <a href="{{ path('blog_view_one', {'slug':bn.slug}) }}">{{ bn.title }}</a>
                                            </div>
                                            <div class="blogpost-controll">
                                                <div class="blogpost-date">
                                                    {{ bn.creation|date('d.m.Y') }}
                                                </div>
                                                <div>
                                                    <i class="fa fa-eye" aria-hidden="true"></i><span class="blogpost-view-count">{{ bn.translatable.views|length }}</span>
                                                    <i class="fa fa-comment" aria-hidden="true"></i><span class="blogpost-comment-count">{{ bn.comments|length }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="top-pagination">
                        {% block sub%}{% endblock %}
                        <div class="navigation text-center">
                            {{ knp_pagination_render(posts) }}
                        </div>
                    </div>
                </div>
                <div class="aside-blogs">
                    <div class="aside-blogs-header">ТЕМИ</div>
                    <div class="news-header">
                        ОСТАННІ ЗАПИСИ
                    </div>

                    {% for bn in posts | slice(0, 8) %}

                    <div class="blogpost">
                        {% if  bn.translatable.users.profile is defined and bn.translatable.users.profile.path != null %}
                            <div class="blogpost-author-avatar" style="background-image: url('/data/users/{{ bn.translatable.users.id }}/{{ bn.translatable.users.profile.path }}')"></div>
                        {% else %}
                            <div class="blogpost-author-avatar" style="background-image: url('http://tibethouse.org.br/wp-content/uploads/2015/09/600x400textIMAGE-PLACEHOLDER-150x150.png')"></div>
                        {% endif %}
                        <div class="blogpost-info">
                            <div class="blogpost-author">
                                <a href="#">{{ bn.author }}</a>
                            </div>
                            <div class="blogpost-title">
                                <a href="{{ path('blog_view_one', {'slug':bn.slug}) }}">{{ bn.title }}</a>
                            </div>
                            <div class="blogpost-controll">
                                <div class="blogpost-date">
                                    {{ bn.creation|date('d.m.Y') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <div class="blogs-archive">
                        <div class="news-header">
                            АРХІВ БЛОГІВ
                        </div>
                        <div id="calendar">

                        </div>
                    </div>
                
                </div>
                <div class="aside-advert-wrapper visible-lg">
                    {{ render(controller('GalleryBundle:Banners:index', { 'location': 3, 'position': 4})) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}