{% extends '::base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="flex-container">

                <div class="list-articles-wrapper">
                    <div class="list-articles-header">
                        {{ word }}
                    </div>
                    <div class="top-pagination">
                        {% block sub%}{% endblock %}
                        <div class="navigation text-center">
                            {{ knp_pagination_render(posts) }}
                        </div>
                    </div>

                    {% for p in posts %}
                        <div class="list-articles-item">
                            <a href="">
                                <div class="list-articles-item-img search-item">
                                    <div class="list-articles-item-category">
                                        {{ p.tag.title }}
                                    </div>
                                    <div class="list-articles-item-time">
                                        {{ p.creation|date('H:i') }}
                                    </div>
                                </div>
                            </a>
                            <div class="list-articles-item-body">
                                <a href="{{ path('blog_view_one', {'slug':p.slug}) }}" class="item-heading"><h4>{{ p.title }}</h4></a>
                                <div class="item-info">
                                        <span class="item-date">
                                            {{ p.creation|date('d.m.Y') }}
                                        </span>
                                    <a href="" class="item-author">
                                        {{ p.author }}
                                    </a>
                                </div>
                                <div class="list-articles-item-text">
                                    {% if p.brief != '' %}
                                        {{ p.brief|striptags|raw }}
                                    {% else %}
                                        {{ p.description|striptags|slice(0, 255)|raw }}
                                        {% if p.description|striptags|length > 255 %}...{% endif %}
                                    {% endif %}
                                </div>
                                <div class="item-controll">
                                    <i class="fa fa-eye" aria-hidden="true"></i><span class="view-count">{{ p.translatable.views|length }}</span>
                                    <i class="fa fa-comment" aria-hidden="true"></i><span class="comment-count">{{ p.translatable.comments|length }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="bottom-pagination">
                        <div class="navigation text-center">
                            {{ knp_pagination_render(posts) }}
                        </div>
                    </div>
                </div>
                <div class="articles-wrapper">
                    {{ render(controller('AppBundle:Default:rightColumn')) }}
                </div>
                <div class="aside-advert-wrapper visible-lg">
                    {{ render(controller('GalleryBundle:Banners:index', { 'location': 3, 'position': 4})) }}
                </div>

            </div>
        </div>
    </div>
    </div>
    <script>
        var url = '{{ path(app.request.get('_route'), {'page': 1 ,'perpage':  0}) }}';
    </script>
{% endblock %}