<div>
    <div class="sm-news-wrapper">
    {% for p in posts %}
            <div class="sm-news-item">
                <a href="{{ path('blog_view_one', {'slug':p.slug}) }}">
                    <div class="sm-news-time">{{ p.creation|date("H:i")}}</div>
                    <div class="sm-news-heading">{{ p.title }}</div>
                </a>
            </div>
    {% endfor %}
    </div>
    <div id="index-posts" class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>
</div>