{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>{{ 'blog.post.show.pageTitle' }}</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'Home'|trans }}</a></li>
                <li><a href="{{ path('admin') }}">{{ 'admin'|trans }}</a></li>
                <li class="active">{{ 'blog.post.show.all' }}</li>
            </ol>
        </section>
        <section class="content">
            <nav class="navbar navbar-default navbar-white-group" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-collapse">
                        <div class="navbar-left"></div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('blog_post_create') }}"><i class="fa fa-plus-circle"></i> Add new</a></li>
                    </ul>
                </div>
            </nav>
            <div class="well well-white-group">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width:120px"><h4><b>Image</b></h4></th>
                            <th><h4><b>Posts</b></h4></th>
                            <th class="text-right" style="width: 220px;"><h4><b>Actions</b></h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in posts %}
                            <tr>
                                <td>
                                    {% if p.path != '' %}
                                        {% set path = '/data/blog/'~p.id~'/'~p.path %}
                                        <img src="{{ path|imagine_filter('blog_thumb') }}" class="img img-responsive" alt="">
                                    {% else %}
                                        <img class="img img-thumbnail img-responsive" src="/bundles/app/images/no-image.png" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    <h5 style="margin-top: 0px;">
                                        <a href="{{ path('blog_view_one', {'slug' : p.slug }) }}" target="_blank"><b>{{ p.title }}</b></a>
                                        <p>
                                            <small>
                                                {% if p.brief != '' %}
                                                    {{ p.brief|raw }}
                                                {% else %}
                                                    {{ p.description|striptags|slice(0, 255) }}
                                                    {% if p.description|striptags|length > 255 %}
                                                        ...
                                                    {% endif %}
                                                {% endif %}
                                            </small>
                                        </p>
                                        <p>
                                            <small>
                                                <span class="fa fa-calendar"></span>&nbsp;&nbsp;{{ p.creation|date('d-m-Y H:i') }}
                                                &nbsp;&nbsp;
                                                <span class="fa fa-tags"></span>&nbsp;&nbsp;
                                                    {{ p.tag.title }}
                                            </small>
                                        </p>
                                    </h5>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="{{ path('blog_post_edit', {id:p.id}) }}" class="btn btn-sm btn-default">
                                            <span class="fa fa-edit"></span>
                                        </a>
                                        <a href="{{ path('blog_post_delete', {id:p.id}) }}" onclick="return confirm('Удалить пост?');" class="btn btn-sm btn-default">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include '::perpage.html.twig' %}
                {% block sub%}{% endblock %}
                <div class="navigation text-center">
                    {{ knp_pagination_render(posts) }}
                </div>
        </section>
    </div>
{% endblock %}