{% extends '::base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="flex-container">

                <div class="list-articles-wrapper">
                    <div class="list-articles-header">
                        Відео новина
                    </div>
                    <div class="top-pagination">
                        {% block sub%}{% endblock %}
                        <div class="navigation text-center">
                            {{ knp_pagination_render(videos) }}
                        </div>
                    </div>

                    {% for p in videos %}
                    <div class="list-articles-item">
                        {% if p.path != '' %}
                        {% set path = '/data/blog/'~p.id~'/'~p.path %}
                        <div class="list-articles-item-img" style="background-image: url('{{ path|imagine_filter('blog_thumb') }}');">
                            {% else %}
                            <div class="list-articles-item-img" style="background-image: url('/bundles/app/images/no-image.png');">
                                {% endif %}

                            </div>
                            <div class="list-articles-item-body">
                                <a href="{{ path('blog_view_one', {'slug':p.slug}) }}" class="item-heading"><h4>{{ p.title }}</h4></a>
                                <div class="item-info">
                                        <span class="item-date">
                                            {{ p.creation|date('d.m.Y') }}
                                        </span>
                                    <a href="" class="item-author">
                                        {{ p.author }}
                                    </a>
                                </div>
                                <div class="list-articles-item-text">
                                    {% if p.brief != '' %}
                                        {{ p.brief|raw }}
                                    {% else %}
                                        {{ p.description|striptags|slice(0, 255)|raw }}
                                        {% if p.description|striptags|length > 255 %}...{% endif %}
                                    {% endif %}
                                </div>
                                <div class="item-controll">
                                    <i class="fa fa-eye" aria-hidden="true"></i><span class="view-count">{{ p.translatable.views|length }}</span>
                                    <i class="fa fa-comment" aria-hidden="true"></i><span class="comment-count">{{ p.translatable.comments|length }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="bottom-pagination">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(videos) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var url = '{{ path(app.request.get('_route'), {'page': 1 ,'perpage':  0}) }}';
    </script>
{% endblock %}