{% extends '::admin.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/bundles/app/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="/bundles/blog/css/jquery.fileuploader-theme-onebutton.css" />
    <link rel="stylesheet" href="/bundles/blog/css/jquery.fileuploader.css" />
    <style>
        .bootstrap-filestyle {
            display:block;
        }
        .changeBtn {
            width: 100%;
            margin-top: 5px;
        }
        .bootstrap-filestyle {
            display:block;
        }
        #similar-fields-list {
            padding:0px;
        }
        #similar-fields-list li{
            display:block;
        }
    </style>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>{{ 'blog.post.create.pageTitle' }}</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'Home'|trans }}</a></li>
                <li><a href="{{ path('admin') }}">{{ 'admin'|trans }}</a></li>
                <li><a href="{{ path('blog_posts') }}">{{ 'blog.post.show.all'|trans }}</a></li>
                <li class="active">{{ 'blog.post.create.all'|trans }}</li>
            </ol>
        </section>
        <section class="content">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% block a2lix_translations_widget %}
                <div class="a2lix_translations tabbable">
                    <ul class="a2lix_translationsLocales nav nav-tabs">
                        {% for translationsFields in form.translations %}
                            {% set locale = translationsFields.vars.name %}
                            {% if app.request.locale == locale %}
                                <li class="active">
                            {% else %}
                                <li>
                            {% endif %}
                            <a href="#" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                                {{ locale|capitalize }}
                                {% if form.translations.vars.default_locale == locale %}
                                    [Default]
                                {% endif %}
                                {% if translationsFields.vars.required %}*{% endif %}
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="a2lix_translationsFields tab-content" style="background:#fff; border-top: 0; border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;">
                        {% for translationsFields in form.translations %}
                            {% set locale = translationsFields.vars.name %}
                            <div class="row {{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}
                                {% if not form.vars.valid %} sonata-ba-field-error{% endif %}">
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="box box-primary" style="box-shadow: 0px 0px 0px">
                                            <div class="box-header">
                                                <h4 class="box-title">Post</h4>
                                            </div>
                                            <div class="box-body">
                                                <br/ >
                                                <div class="form-group">
                                                    <label for="author">{{ form_label(translationsFields.author) }}</label>
                                                    {{ form_widget(translationsFields.author, {'attr':{'class':'form-control'}}) }}
                                                    {{ form_errors(translationsFields.author) }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="title">{{ form_label(translationsFields.title) }}</label>
                                                    {{ form_widget(translationsFields.title, {'attr':{'class':'form-control'}}) }}
                                                    {{ form_errors(translationsFields.title) }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="brief">{{ form_label(translationsFields.brief) }}</label>
                                                    {{ form_widget(translationsFields.brief, {'attr':{'class':'form-control'}}) }}
                                                    {{ form_errors(translationsFields.brief) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box box-primary" style="box-shadow: 0px 0px 0px">
                                            <div class="box-header">
                                                <h4 class="box-title">SEO</h4>
                                            </div>
                                            <div class="box-body">
                                                <br />
                                                <div class="form-group">
                                                    <label for="post">{{ form_label(translationsFields.seo_title) }}</label>
                                                    {{ form_widget(translationsFields.seo_title, {'attr':{'class':'form-control'}}) }}
                                                    {{ form_errors(translationsFields.seo_title) }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="post">{{ form_label(translationsFields.seo_keyword) }}</label>
                                                    {{ form_widget(translationsFields.seo_keyword, {'attr':{'class':'form-control'}}) }}
                                                    {{ form_errors(translationsFields.seo_keyword) }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="post">{{ form_label(translationsFields.seo_description) }}</label>
                                                    {{ form_widget(translationsFields.seo_description, {'attr':{'class':'form-control'}}) }}
                                                    {{ form_errors(translationsFields.seo_description) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="margin-top:0px;padding-top:0px;">
                                        <div class="box-body" style="margin-top:0px;padding-top:0px;">
                                        <div class="form-group">
                                            <label for="post">{{ form_label(translationsFields.description) }}</label>
                                            {{ form_widget(translationsFields.description, {'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(translationsFields.description) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="post">{{ form_label(translationsFields.slug) }}</label>
                                            {{ form_widget(translationsFields.slug, {'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(translationsFields.slug) }}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}

            <div class="well well-white-group row">

                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="thumbnail well" style="width: 100%">
                            {% if form.vars.value.path != '' %}
                                <img id="previewImg" src="/data/blog/{{ form.vars.value.id }}/{{ form.vars.value.path }}"
                                    class="img img-responsive" />
                            {% else %}
                                <img id="previewImg" src="/bundles/app/images/no-image.png" class="img img-responsive" />
                            {% endif %}
                            {{ form_widget(form.file, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.file) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if imagesArray is defined %}
                            {{ form_widget(form.files, {'attr':{'data-fileuploader-files':(imagesArray), 'class':'form-control multipleAjax'}}) }}
                        {% else %}
                            {{ form_widget(form.files, {'attr':{'class':'form-control multiple'}}) }}
                        {% endif %}

                        {{ form_errors(form.files) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="post">{{ form_label(form.tag_id) }}</label>
                        {{ form_widget(form.tag_id, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.tag_id) }}
                    </div>
                    <div class="form-group">
                        <label for="post">{{ form_label(form.priority) }}</label>
                        {{ form_widget(form.priority, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.priority) }}
                    </div>
                    <div class="form-group">
                        <label for="post">{{ form_label(form.comment_access) }}</label>
                        {{ form_widget(form.comment_access, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.comment_access) }}
                    </div>
                    <div class="form-group">
                        <label for="begin_date">{{ form_label(form.begin_date) }}</label>
                        <div class="input-group date datepicker">
                            {{ form_widget(form.begin_date, {'attr': {'class': 'form-control'} }) }}
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                        </div>
                        {{ form_errors(form.begin_date) }}
                    </div>
                    <div class="form-group">
                        <label for="post">{{ form_label(form.rss) }}</label>
                        {{ form_widget(form.rss, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.rss) }}
                    </div>
                </div>
            </div>

            <div class="well well-white-group">
                    <div class="form-group">
                        <label for="post">{{ form_label(form.similars) }}</label>
                        {{ form_widget(form.similars, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.similars) }}
                    </div>
            </div>

            <div class="well well-white-group">
                <button class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>

            {{ form_end(form) }}

        </section>
    </div>

    <script src="/bundles/app/js/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    {% if app.request.locale != 'en' %}
        <script src="/bundles/app/js/moment/locale/{{ app.request.locale }}.js"></script>
    {% endif %}
    <script src="/bundles/app/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="/bundles/app/js/bootstrap-filestyle.js"></script>
    <script src="/bundles/app/js/plugins/select2/select2.js"></script>
    <link rel="stylesheet" href="/bundles/app/js/plugins/select2/select2.css" />
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script>
        /* multi upload param */
        var id =  '{% if form.vars.value.translatable.id is defined %}{{ form.vars.value.translatable.id }}{% else %}0{% endif %}';
        var mod = 'blog';
        /* end multi upload*/
        $('.datepicker').datetimepicker({
            sideBySide: true,
            locale: '{{ app.request.locale }}',
            format: 'YYYY-MM-DD HH:mm'
        });

        $.fn.filestyle.defaults = {
            'buttonText' : '&nbsp;&nbsp;&nbsp;&nbsp;{{ "MainPhoto"|trans }}',
            'iconName' : 'glyphicon glyphicon-folder-open',
            'buttonName' : 'btn-default changeBtn',
            'size' : 'nr',
            'input' : true,
            'badge' : true,
            'icon' : true,
            'buttonBefore' : false,
            'disabled' : false,
            'placeholder': ''
        };

        $("#post_file").filestyle({input: false});
        $("#post_file").change(function(){
            $("#users_profile_change").val(new Date().getTime());
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

    </script>

{% endblock %}