<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/bundles/app/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bundles/app/css/adminlte/AdminLTE.min.css" />
  <link rel="stylesheet" href="/bundles/app/css/adminlte/skins/_all-skins.min.css" />
  <link rel="stylesheet" media="screen" href="/bundles/app/css/style.css" />
  <link rel="stylesheet" media="screen" href="/bundles/blog/css/view_one.css" />
  <link rel="stylesheet" media="screen" href="/bundles/app/css/media.css" />
</head>
<body class="hold-transition skin-blue layout-top-nav">
<header>
    <div class="header-middle" style="border-bottom: 3px double #990000;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="/bundles/app/images/logo.png" width="200px;">
                </div>
                <div class="col-md-12 text-center">
                    <div class="header-text hp-text-center">
                        агенція новин
                      </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="flex-container">
            <div class="single-article">
                <div class="single-article-title">
                    <h1>{{ post.translatable.title }}</h1>
                </div>
                <div class="single-article-body">
                    {% if post.translatable.path != '' %}
                        {% set path = '/data/blog/'~post.translatable.id~'/'~post.translatable.path %}
                        <img src="{{ path|imagine_filter('blog_thumb') }}" class="gallery-main" style="width:100%;" alt="">
                    {% endif %}
                    <div class="single-article-text">
                        <p>{{ post.description|raw }}</p>
                    </div>
                </div>
                <br />
                <div class="single-article-info">
                    <div class="single-article-date">{{ post.translatable.creation|date('d.m.Y') }}</div>
                    <div class="single-article-author">{{ post.author }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>