<div class="header-search">
{{ form_start(form, {'action': path('search_result'), 'attr':{'id':'mainSearchForm'}}) }}
    {{ form_errors(form) }}
    <div class="">
        {{ form_widget(form.search, {'attr':{'class':'header-search-input', 'placeholder':'Пошук'}}) }}
        <button type="submit" class="header-search-submit-button">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
{{ form_end(form) }}
</div>