{% extends '::base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="flex-container">
                    <div class="single-article-wrapper">
                        <div class="single-article-advert">
                        </div>
                        <div class="single-article">
                            <div class="single-article-title">
                                <h1>{{ post.translatable.title }}</h1>
                            </div>
                            <div class="single-article-info">
                                <div class="single-article-date">{{ post.translatable.creation|date('d.m.Y') }}</div>
                                <a href="#" class="single-article-author">{{ post.author }}</a>
                            </div>
                            <div class="single-article-body">
                                {% if post.translatable.path != '' %}
                                    {% set path = '/data/blog/'~post.translatable.id~'/'~post.translatable.path %}
                                    <img src="{{ path|imagine_filter('blog_thumb') }}" class="gallery-main" style="width:100%;" alt="">
                                {% endif %}
                                <div class="single-article-text">
                                    <p>{{ post.description|raw }}</p>
                                </div>
                            </div>
                            {% if images|length > 0 %}
                                <div class="single-article-galery">
                                    <p>Фотогалерея</p>
                                    {% for row in images %}
                                        <div class="row">
                                        {% for i in row %}

                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <a class="gallery-view-one-image" href="/data/blog/{{ post.translatable.id }}/{{ i }}" data-fancybox="image">
                                                    <div class="small-image" style="background-image: url('/data/blog/{{ post.translatable.id }}/{{ i }}')"></div>
                                                </a>
                                            </div>

                                        {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="single-article-controll">
                                <div class="blogpost-bottom-info">
                                    <span>{{ post.translatable.creation|date('d.m.Y') }}</span>
                                    <a href="#">{{ post.author }}</a>
                                    <i class="fa fa-eye" aria-hidden="true"></i><span class="view-count">{{ post.translatable.views|length }}</span>
                                    <i class="fa fa-comment" aria-hidden="true"></i><span class="comment-count">{{ post.translatable.comments|length }}</span>
                                </div>
                                <div class="share-news">
                                    <p>Поділитись новиною</p>
                                    <div id="share"></div>
                                    <span class="print"><div><i class="fa fa-print" aria-hidden="true"></i></div></span>
                                </div>
                            </div>
                            <div class="comments-wrapper">
                                <div class="comments-header">
                                    Коментарі <span class="comments-count">({{ post.translatable.comments|length }})</span>
                                </div>
                                {% macro recursiveAnswers(answers) %}
                                    {% if answers|length %}
                                        {% for answ in answers %}
                                            <div style="padding-left:40px;">

                                                <div class="comment">

                                                    {% if answ.user != null and answ.user.profile != null and answ.user.profile.path != null %}
                                                        <div class="comment-author-avatar" style="background-image: url('/data/users/{{ answ.user.id }}/{{ answ.user.profile.path }}')"></div>
                                                    {% else %}
                                                        <div class="comment-author-avatar" style="background-image: url('http://tibethouse.org.br/wp-content/uploads/2015/09/600x400textIMAGE-PLACEHOLDER-150x150.png')"></div>
                                                    {% endif %}
                                                    <div class="comment-body">
                                                        <a href="" class="comment-author">{{ answ.name }}</a>
                                                        <span class="comment-date">{{ answ.creation|date('Y.m.d, H:i') }}</span>
                                                        <div class="comment-text">
                                                            {{ answ.comment|raw }}
                                                        </div>
                                                    </div>
                                                    <div class="comment-controll">
                                                        <a href="{{ path('blog_post_comment_answer', {'id':answ.id}) }}"
                                                        class="" style="padding:0px 4px;">
                                                           <i class="fa fa-reply" aria-hidden="true"></i>
                                                        </a>
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            <a href="{{ path('blog_post_comment_delete', {'id':answ.id}) }}"
                                                               class="" style="padding:0px 4px;"
                                                               onclick="return confirm('Подтвердить удаление?')">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>

                                            {% import _self as macro %}
                                            {{ macro.recursiveAnswers(answ.children) }}
                                        {% endfor %}
                                    {% endif %}
                                {% endmacro %}
                                {% import _self as macro %}

                                <div class="comment-form-group">
                                    {{ form_start(formComment) }}
                                    <div class="form-group">
                                        <label>{{ 'Коментар'|trans }}</label>
                                        {{ form_widget(formComment.comment, {'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ "Ваше ім'я"|trans }}</label>
                                        {{ form_widget(formComment.name, {'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'Ваш email'|trans }}</label>
                                        {{ form_widget(formComment.email, {'attr':{'class':'form-control'}}) }}
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') == false %}
                                        <div class="form-group">
                                            <label>{{ 'Введіть код з картинки'|trans }}</label>
                                            <div class="captcha">
                                                {{ form_widget(formComment.captcha, {'attr':{'class':'form-control'}}) }}
                                                <span class="text-danger"><b>{{ form_errors(formComment.captcha) }}</b></span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <p class="text-right">
                                            <button class='send-comment'>{{ 'Надіслати'|trans }}</button>
                                        </p>
                                    </div>
                                    {{ form_end(formComment) }}
                                </div>

                                {% for com in comments %}
                                    <div class="comment">
                                        {% if com.user != null and com.user.profile != null and com.user.profile.path != null %}
                                            <div class="comment-author-avatar" style="background-image: url('/data/users/{{ com.user.id }}/{{ com.user.profile.path }}')"></div>
                                        {% else %}
                                            <div class="comment-author-avatar" style="background-image: url('http://tibethouse.org.br/wp-content/uploads/2015/09/600x400textIMAGE-PLACEHOLDER-150x150.png')"></div>
                                        {% endif %}
                                        <div class="comment-body">
                                            <a href="" class="comment-author">{{ com.name }}</a>
                                            <span class="comment-date">{{ com.creation|date('Y.m.d, H:i') }}</span>
                                            <div class="comment-text">
                                                {{ com.comment|raw }}
                                            </div>
                                        </div>
                                        <div class="comment-controll">
                                            <a href="{{ path('blog_post_comment_answer', {'id':com.id}) }}"
                                            class="" style="padding:0px 4px;">
                                               <i class="fa fa-reply" aria-hidden="true"></i>
                                            </a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a href="{{ path('blog_post_comment_delete', {'id':com.id}) }}"
                                                   class="" style="padding:0px 4px;"
                                                   onclick="return confirm('Подтвердить удаление?')">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {{ macro.recursiveAnswers( com.children ) }}
                                {% endfor %}

                                {% if  post.translatable.commentaccess.id == 1 or (post.translatable.commentaccess.id == 2 and is_granted('IS_AUTHENTICATED_FULLY')) %}
                                {% endif %}

                            </div>
                            {% if post.translatable.similars|length > 0 %}
                            <div class="read-too">
                                <div class="news-header">
                                    ЧИТАЙТЕ ТАКОЖ
                                </div>
                                <div class="row">
                                    {% for s in post.translatable.similars %}
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="read-too-news-item">
                                            <div class="news-heading">
                                                <a href="{{ path('blog_view_one', {'slug' : s.slug }) }}">
                                                    {{ s.title }}
                                                </a>
                                            </div>
                                            <div class="cover-img">
                                                <div class="news-cover">
                                                    {% if s.path != '' %}
                                                        {% set path = '/data/blog/'~s.id~'/'~s.path %}
                                                    {% else %}
                                                        {% set path ='/bundles/app/images/no-image.png' %}
                                                    {% endif %}
                                                    <img src="{{ path|imagine_filter('blog_thumb') }}" alt="">
                                                </div>
                                                <div class="news-content">
                                                    <div class="news-date">
                                                        {{ s.creation|date('d.m.Y') }}
                                                    </div>
                                                    <div class="news-description">
                                                        <p>
                                                            {% if s.brief != '' %}
                                                                {{ s.brief|raw }}
                                                            {% else %}
                                                                {{ s.description|striptags|slice(0, 255) }}
                                                                {% if s.description|striptags|length > 255 %}
                                                                    ...
                                                                {% endif %}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="news-controll">
                                                        <i class="fa fa-eye" aria-hidden="true"></i><span class="view-count">{{ s.translatable.views|length }}</span>
                                                        <i class="fa fa-comment" aria-hidden="true"></i><span class="comment-count">{{ s.translatable.comments|length }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="articles-wrapper">
                        {{ render(controller('AppBundle:Default:rightColumn')) }}
                    </div>
                    <div class="aside-advert-wrapper visible-lg">
                        {{ render(controller('GalleryBundle:Banners:index', { 'location': 3, 'position': 4})) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/bundles/app/js/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/bundles/app/js/printPage.js"></script>
    <script>
        $(".gallery").on('click', function(){
            $(".gallery-main").attr('src', $(this).attr('src'));
        });
        $(".fa-print").printPage({
            url: "{{ path('blog_print_one', {'slug': post.slug}) }}",
            message:"Підготовка до друку"
            });
    </script>

{% endblock %}