{% extends '::base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="flex-container">

                    <div class="list-articles-wrapper">
                        <div class="list-articles-header">
                            RSS Канали
                        </div>
                        <div>
                            <div class="sm-news-wrapper">
                                {% for r in rss %}
                                    <div class="sm-news-item">
                                        <a href="{{ path('blog_post_feed_generate', {'slug':r.slug}) }}">
                                            <div class="sm-news-heading">{{ r.title }}</div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}