{% extends '::base.html.twig' %}
{% block body%}
    <ul>
        {% for key, ab in all_bloggers %}
            <li>
                {{ key }}
                <ul>
                    {% for b in ab %}
                        <li>
                            <a href="{{ path('bloggers_all_posts_view', {id:b.id}) }}">
                                {{ b.profile.firstname }} {{ b.profile.lastname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}