{% extends '::base.html.twig' %}
{% block body %}
    <div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="flex-container">
                {% if user.profile != NULL and user.profile.path != '' %}
                    {% set path = '/data/users/'~user.id~'/'~user.profile.path %}
                    <img src="{{ path|imagine_filter('user_avatar_thumb') }}" class="img img-resposive img-thumbnail" style="max-width: 64px"/>
                {% else %}
                    <img src="/bundles/app/images/avatar.jpg" class="img img-resposive" style="max-width: 20px; max-height: 20px;" />
                {% endif %}
                {{ user.profile.firstname }}
                {{ user.profile.lastname }}
                {{ user.profile.patronymic }}
                {{ user.profile.about }}
                {{ user.profile.biography }}
            </div>
            <div class="flex-container">
                <div class="list-articles-wrapper">
                    <div class="list-articles-header">
                        СТАТТІ
                    </div>

                    {% for p in posts %}
                    <div class="list-articles-item">
                        {% if p.path != '' %}
                        {% set path = '/data/blog/'~p.id~'/'~p.path %}
                        <div class="list-articles-item-img" style="background-image: url('{{ path|imagine_filter('blog_thumb') }}');">
                            {% else %}
                            <div class="list-articles-item-img" style="background-image: url('/bundles/app/images/no-image.png');">
                                {% endif %}

                            </div>
                            <div class="list-articles-item-body">
                                <a href="{{ path('blog_view_one', {'slug':p.slug}) }}" class="item-heading"><h4>{{ p.title }}</h4></a>
                                <div class="item-info">
                                        <span class="item-date">
                                            {{ p.creation|date('d.m.Y') }}
                                        </span>
                                    <a href="" class="item-author">
                                        {{ p.author }}
                                    </a>
                                </div>
                                <div class="list-articles-item-text">
                                    {% if p.brief != '' %}
                                        {{ p.brief|raw }}
                                    {% else %}
                                        {{ p.description|striptags|slice(0, 255)|raw }}
                                        {% if p.description|striptags|length > 255 %}...{% endif %}
                                    {% endif %}
                                </div>
                                <div class="item-controll">
                                    <i class="fa fa-eye" aria-hidden="true"></i><span class="view-count">{{ p.translatable.views|length }}</span>
                                    <i class="fa fa-comment" aria-hidden="true"></i><span class="comment-count">{{ p.translatable.comments|length }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="bottom-pagination">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(posts) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}